LLM_PROVIDER="openai"
ANTHROPIC_API_KEY=
OPENAI_API_KEY=""

UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST="https://app.posthog.com"

NEXT_PUBLIC_APP_NAME="Lição de Casa"